

body {
  background-image: url(../image/Transcription_Factors.png);
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #BBDEFB;
  backdrop-filter: blur(1px);
}


.input1 {
  border: 3px solid #8200c9;
  background-color: #BBDEFB;
  width: 75%;
  margin:auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

  .content-div {
      margin-top: 150px;
      align-items: center;
      position: relative;
  }

  .form {
      margin: auto;
      width: 75%;
  }

  .text{
    color: #8200c9;
    font: 35px Agency FB;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 20px;
  }

  .seq {
    margin-top: 10px;
    height: 135px;
    width: 100%;
    font-family: Tahoma, sans-serif;
    font: 20px sans-serif;
    color: #8200c9;
    border: none;
    text-decoration: none;
    resize: none;
    background-color: #BBDEFB;
    min-height: 270px;
  }

  .seq:focus {
    /* box-shadow:  0px 0px 8px #BFD7CE; */
    outline: none;
  }
  .seq:hover {
    /* box-shadow:  0px 0px 8px #BFD7CE; */
    outline: none;
  }

  .seq::placeholder {
    color: white;
    opacity: 0.6;
  }

  .input2 {
    border: 3px dashed #0050ad ;
    background-color: #BBDEFB;
    width: 75%;
    margin:auto;
    border-radius: 10px;
    margin-bottom: 50px;
    
  }

  .labelfile {
    margin-top: 50px;
    font-weight: bold;
    font: 25px sans-serif;
    color: #0050ad;
    font-weight: bold;
  }

  /* .file {
    /* padding: 12px 20px;
    height: 50px;
    width: 95%;
    margin-top: 15px;
    background-color: #965D50;
  } */
 

  .inputfile {
    margin-left: 35%;
    font-size: 16px;
    background-color: #BBDEFB;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #0050ad;
    width: 350px;
    outline: none;
    
  }

  ::-webkit-file-upload-button{
    color: white;
    background: #0050ad;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 0 #6b4559;
    outline: none;
  }

  ::-webkit-file-upload-button:hover{
    background: #8200c9;
  }

  .radio {
    text-align: center;
  }

  .container {
    color: #0050ad;
    margin: 15px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #0050ad;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 6.5px;
    left: 6.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  }

  .sub {
    text-align: center;
  }
  
  .submit {
    margin: 5px;
    width: 100px;
    height: 40px;
    background-color: #0050ad;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    font-family: Tahoma, sans-serif;
    font: 17px sans-serif;
    border: 2px solid #0050ad;
    transition-duration: 0.4s;
  }

  .submit:hover {
    color: #0050ad;
    background-color: #fff;
    border: 2px solid #0050ad;
  }

  .clear {
    margin: 5px;
    width: 100px;
    height: 40px;
    background-color: #0050ad;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    font-family: Tahoma, sans-serif;
    font: 17px sans-serif;
    border: 2px solid #0050ad;
    transition-duration: 0.4s;
  }

  .clear:hover {
    color: #0050ad;
    background-color: #fff;
  }

  /* MULTI SPINNER */

  #loader-container {
    margin-top: 60px;
    display: none;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .loader-div {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid #BFD7CE;
    border-top: 8px solid #0050ad;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }

  @keyframes rotate {
    100% { transform: rotate(360deg);}
  }

  /* example sequences */
  .examplelabel {
    margin-top: 25px;
    font: 20px sans-serif;
    font-weight: bold;
    color: #0050ad;
  }

  .example {
    margin-top: 15px;
    font: 18px sans-serif;
    color: #0050ad;
    font-family: monospace;
    font-weight: bold;
  }

  .example span {
    margin-top: 10px;
    display:inline-block;
  }
  
  
 