  body {
    background-image: url(../image/Transcription_Factors.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #BBDEFB;
    backdrop-filter: blur(1.5px);
  }

  .result {
    border: 3px solid #8200c9;
    background-color: #BBDEFB;
    margin:auto;
    border-radius: 10px;
    margin-bottom: 50px;
    min-height: 300px;
   
  }

  .label{
    color: #8200c9;
    font: 35px Agency FB;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 20px;
    margin-top: 20px;
  }

  .content-div {
    margin-top: 100px;
    align-items: center;
    margin-bottom: 140px;
  }

  .form {
      margin: auto;
      width: 75%;
  }

  .resulttext {
    text-align: left;
    color: #8200c9;
    font: 18px sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    max-width: 1200px;
    overflow-wrap: break-word;
    line-height: 20px;
  }