<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="../static/css/home.css">
	<link rel="stylesheet" href="../static/css/header.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>
<body>
	{% include 'header.html' %}
	<div class="img"></div>
	<div class="content-div">
		<div class="form">
			<form action = "/predict" method="POST" enctype = "multipart/form-data" name="myForm" onsubmit="return loader()">
				<fieldset class="input1">
					<legend class="text">Input Your FASTA Sequence</legend>
					<textarea class="seq" name="seq" placeholder=""></textarea>
				</fieldset>
				<fieldset class="input2">
					<legend class="labelfile">Or submit fasta file!</legend>
					<input type="file" name="fasta" id="file-upload" class="inputfile"/>
				</fieldset>
				<div class="radio" id="radio1">
					<label class="container">TF + TFPM Classification
					<input type="radio" checked="checked" name="radio1" value="0" id="0" >
					<span class="checkmark"></span>
					</label>
					<label class="container">TF Classification
					<input type="radio" name="radio1" value="1" id="1">
					<span class="checkmark"></span>
					</label>
					<label class="container">TFPM Classification
					<input type="radio" name="radio1" value="2" id="2" >
					<span class="checkmark"></span>
					</label>
				</div>
				<div class="radio" id="radio2">
					<label class="container">FASTA Sequence
					<input type="radio" checked="checked" name="radio2" value="Sequence" id="Sequence">
					<span class="checkmark"></span>
					</label>
					<label class="container">FASTA file
					<input type="radio" name="radio2" value="Fasta" id="Fasta" >
					<span class="checkmark"></span>
					</label>
				</div>	
				<div class="sub" id="sub">
					<input type="submit" class="submit" value="Submit"/>
					<input type="reset" class="clear" value="Clear">
				</div>
				<div id="loader-container">
					<div class="loader-div">
						<div class="loader-div">
							<div class="loader-div">
							
							</div>
						</div>
					</div>
				</div>
				<p class="examplelabel">Examples of FASTA sequence:</p>
				<p class="example">
					<b>Transcription Factor</b>
					<br>
					<span>
						>Q9H161
						<br>
						MNAETCVSYCESPAAAMDAYYSPVSQSREGSSPFRAFPGGDKFGTTFLSAAAKAQGFGDAKSRARYGAGQ
						<br>
						QDLATPLESGAGARGSFNKFQPQPSTPQPQPPPQPQPQQQQPQPQPPAQPHLYLQRGACKTPPDGSLKLQ
						<br>
						EGSSGHSAALQVPCYAKESSLGEPELPPDSDTVGMDSSYLSVKEAGVKGPQDRASSDLPSPLEKADSESN
						<br>
						KGKKRRNRTTFTSYQLEELEKVFQKTHYPDVYAREQLAMRTDLTEARVQVWFQNRRAKWRKRERFGQMQQ
						<br>
						VRTHFSTAYELPLLTRAENYAQIQNPSWLGNNGAASPVPACVVPCDPVPACMSPHAHPPGSGASSVTDFL
						<br>
						SVSGAGSHVGQTHMGSLFGAASLSPGLNGYELNGEPDRKTSSIAALRMKAKEHSAAISWAT
					</span>
				</p>
				<p class="example">
					<b>Non-Transcription Factor</b>
					<br>
					<span>
						>spQ6PI48
						<br>
						MYFPSWLSQLYRGLSRPIRRTTQPIWGSLYRSLLQSSQRRIPEFSSFVVRTNTCGELRSSHLGQEVTLCG
						<br>
						WIQYRRQNTFLVLRDFDGLVQVIIPQDESAASVKKILCEAPVESVVQVSGTVISRPAGQENPKMPTGEIE
						<br>
						IKVKTAELLNACKKLPFEIKNFVKKTEALRLQYRYLDLRSFQMQYNLRLRSQMVMKMREYLCNLHGFVDI
						<br>
						ETPTLFKRTPGGAKEFLVPSREPGKFYSLPQSPQQFKQLLMVGGLDRYFQVARCYRDEGSRPDRQPEFTQ
						<br>
						IDIEMSFVDQTGIQSLIEGLLQYSWPNDKDPVVVPFPTMTFAEVLATYGTDKPDTRFGMKIIDISDVFRN
						<br>
						TEIGFLQDALSKPHGTVKAICIPEGAKYLKRKDIESIRNFAADHFNQEILPVFLNANRNWNSPVANFIME
						<br>
						SQRLELIRLMETQEEDVVLLTAGEHNKACSLLGKLRLECADLLETRGVVLRDPTLFSFLWVVDFPLFLPK
						<br>
						EENPRELESAHHPFTAPHPSDIHLLYTEPKKARSQHYDLVLNGNEIGGGSIRIHNAELQRYILATLLKED
						<br>
						VKMLSHLLQALDYGAPPHGGIALGLDRLICLVTGSPSIRDVIAFPKSFRGHDLMSNTPDSVPPEELKPYH
						<br>
						IRVSKPTDSKAERAH
					</span>
				</p>
				<p class="example">
					<b>Transcription Factor Prefer Methylated DNA</b>
					<br>
					<span>
						>P23769
						<br>
						MEVAPEQPRWMAHPAVLNAQHPDSHHPGLAHNYMEPAQLLPPDEVDVFFNHLDSQGNPYYANPAHARARV
						<br>
						SYSPAHARLTGGQMCRPHLLHSPGLPWLDGGKAALSAAAAHHHNPWTVSPFSKTPLHPSAAGGPGGPLSV
						<br>
						YPGAGGGSGGGSGSSVASLTPTAAHSGSHLFGFPPTPPKEVSPDPSTTGAASPASSSAGGSAARGEDKDG
						<br>
						VKYQVSLTESMKMESGSPLRPGLATMGTQPATHHPIPTYPSYVPAAAHDYSSGLFHPGGFLGGPASSFTP
						<br>
						KQRSKARSCSEGRECVNCGATATPLWRRDGTGHYLCNACGLYHKMNGQNRPLIKPKRRLSAARRAGTCCA
						<br>
						NCQTTTTTLWRRNANGDPVCNACGLYYKLHNVNRPLTMKKEGIQTRNRKMSNKSKKSKKGAECFEELSKC
						<br>
						MQEKSSPFSAAALAGHMAPVGHLPPFSHSGHILPTPTPIHPSSSLSFGHPHPSSMVTAMG
					</span>
				</p>
				<p class="example">
					<b>Transcription Factor Prefer Non-Methylated DNA</b>
					<br>
					<span>
						>P09067
						<br>
						MSSYFVNSFSGRYPNGPDYQLLNYGSGSSLSGSYRDPAAMHTGSYGYNYNGMDLSVNRSSASSSHFGAVG
						<br>
						ESSRAFPAPAQEPRFRQAASSCSLSSPESLPCTNGDSHGAKPSASSPSDQATSASSSANFTEIDEASASS
						<br>
						EPEEAASQLSSPSLARAQPEPMATSTAAPEGQTPQIFPWMRKLHISHDMTGPDGKRARTAYTRYQTLELE
						<br>
						KEFHFNRYLTRRRRIEIAHALCLSERQIKIWFQNRRMKWKKDNKLKSMSLATAGSAFQP
					</span>
					
				</p>
			</form>
		</div>
		{% include 'footer.html' %}
	</div>
	{% if alert %}
		<script>
  			alert("Your file not in Fasta format!");
		</script>
	{% endif %}
	<script>
		var input = document.getElementById('file-upload');
		var infoArea = document.getElementById('filename');

		input.addEventListener( 'change', showFileName );

		function showFileName( event ) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			infoArea.textContent = fileName;
		}

		function loader(){
			if(document.getElementById("Sequence").checked){
				var lines = document.forms["myForm"]["seq"].value.split("\n");
				var seq_id = lines[0]
				var seq = ""
				for(var i = 1; i < lines.length; i++){
					seq = seq.concat(lines[i])
				}
				var id_reg = /^>{1}./
				var seq_reg = /^[A|V|I|L|M|F|Y|W|S|T|N|Q|C|U|G|P|R|H|K|D|E]+$/;
				if (seq == "") {
					alert("Fasta sequence must be filled!");
					return false;
				}
				if (!id_reg.test(seq_id)) {
					alert("Invalid FASTA sequences format!");
					return false;
				}
				if (!seq_reg.test(seq)) {
					alert("Invalid protein sequences!");
					return false;
				}
			}else{
				if(document.getElementById("file-upload").value == "") {
					alert("Please input fasta file!")
					return false;
				}
			}
			var x = document.getElementById("loader-container");
			x.style.display = "block";
			var y = document.getElementById("sub");
			y.style.display = "none";
			var z = document.getElementById("radio");
			z.style.display = "none";
		}
	</script>
</body>
</html>
